!!! 5
html
	include header
	body
		input(type="hidden",id="eventId",value=event._id)
		div.background
			!{event.background}
		div.seat
			!{event.seat}
		div.userlist
			div.caption All User List
			table.table.table-bordered.table-hover#users
			
		div.toolbar.notlogin(data-fbuid=user.fbuid,data-name=user.name,data-join=(user.join?"true":"false"),data-seat=user.seat)
			//- a(href="/").btn.home Home 
			div.login
				a(id="login").btn FB Login
			div.auth
				div.join.btn Mark as Join
				div.cancel.btn Mark as Cancel
				div(id="username")
		include footer
		script(src="/js/require-jquery.js",data-main="/js/event")